doctype
html
	include ./includes/head.pug

	body
		div
			p First Paragraph

			ul
				li#bbp-list-item
					a(href='#') sup
				li#bbp-list-item
					a(href='#') sup
				li#bbp-list-item
					a(href='#') sup